<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImagePasterForExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ImagePasterForExcel.Properties.Settings>
            <setting name="AssemblyVersion" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimaryColorCode" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColorCode" serializeAs="String">
                <value />
            </setting>
        </ImagePasterForExcel.Properties.Settings>
    </userSettings>
</configuration>
